<div class="container">

	<ul class="breadcrumb">
	    <li><a href="/">Home</a>
	    </li>
	    <li><a href="#">{$owner->state}</a>
	    </li>
	    <li><a href="#">{$owner->city}</a>
	    </li>
	    <li><a href="#">{$owner->address_line1}, {$owner->address_line2}</a>
	    </li>
	    <li class="active">{$vehicle->name}</li>
	</ul>
	
	<div class="booking-item-details">
	    <header class="booking-item-header">
	        <div class="row">
	            <div class="col-md-9">
	                <h2 class="lh1em">{$vehicle->name}</h2>
	            </div>
	            <div class="col-md-3">
	                <p class="booking-item-header-price">Price<span class="text-lg"> ₹{$vehicle->basic_fare}</span> /km</p>
	            </div>
	        </div>
	    </header>
	    
	    
		<div class="car-details">	    
		    <div class="row">
		        <div class="col-md-7">
		            <div class="tabbable booking-details-tabbable">
		                <ul class="nav nav-tabs" id="myTab">
		                    <li class="active">
		                    	<a href="#tab-1" data-toggle="tab"><i class="fa fa-camera"></i>Car Images</a>
		                    </li>
		                </ul>
		                <div class="tab-content">
		                    <div class="tab-pane fade in active" id="tab-1">
		                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs">
		                        	<img src="{$smarty.const.IMAGE_URL}{$vehicle->image1}" />
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        
		        <div class="col-md-5">
		        	<div class="contact-details">
		        		<h5 class="title">Contact Details</h5>
		        		<div class="details">
		        			
		        			<ul>
		        				<li>
		        					<div class="label1">Contact name</div>
		        					<div class="value">{$owner->name}</div>
		        				</li>
		        				<li>
		        					<div class="label1">Contact number</div>
		        					<div class="value">{$owner->mobile_no}</div>
		        				</li>
		        				<li>
		        					<div class="label1">Alt Contact number</div>
		        					<div class="value">{$owner->alt_mobile_no}</div>
		        				</li>
		        				<li>
		        					<div class="label1">Email</div>
		        					<div class="value">{$owner->email}</div>
		        				</li>
		        				<li>
		        					<div class="label1">Website</div>
		        					<div class="value">{$owner->website}</div>
		        				</li>
		        				<li>
		        					<div class="label1">Address</div>
		        					<div class="value">{$owner->address_line1}, {$owner->address_line2}</div>
		        				</li>
		        				<li>
		        					<div class="label1">City</div>
		        					<div class="value">{$owner->city}</div>
		        				</li>
		        			</ul>
		        		</div>
		        	</div>
		        	
		        	<div class="car-detail">
		        		<h5 class="title">Car Details</h5>
		        		<div class="details">
		        			<ul>
		        				<li>
		        					<div class="label1">Title</div>
		        					<div class="value">{$vehicle->name}</div>
		        				</li>
		        				<li>
		        					<div class="label1">Color</div>
		        					<div class="value">{$vehicle->color}</div>
		        				</li>
		        				<li>
		        					<div class="label1">Vehicle no</div>
		        					<div class="value">{$vehicle->vehicle_no}</div>
		        				</li>
		        				<li>
		        					<div class="label1">Approx Rate</div>
		        					<div class="value">₹ {$vehicle->basic_fare} / km</div>
		        				</li>
		        			</ul>
		        	</div>
		        	
		        </div>
		        
		    </div>
	    </div>
	    
	    
	    <div class="row">
	    
	    <div class="car-detail-bottom">
	    
	    	<div class="col-md-5">
	    		<h5>Car Features & Equipments</h5>
	    		<div class="car-features">
		    		<ul>
		    			<li>
		    				<i class="fa fa-male"></i>
		    				<span class="car-feature-title">Up to {$vehicle->seating_cap} Passengers</span>
		    			</li>
		    			{if $vehicle->category eq 'ac'}
		    			<li>
		    				<i class="im im-air"></i>
		    				<span class="car-feature-title">AC</span>
		    			</li>
		    			{/if}
		    			{if $vehicle->is_music_system eq 'y'}
		    			<li>
		    				<i class="im im-stereo"></i>
		    				<span class="car-feature-title">Stereo CD/MP3</span>
		    			</li>
		    			{/if}
		    			{if $vehicle->is_led eq 'y'}
		    			<li>
		    				<i class="im im-tv"></i>
		    				<span class="car-feature-title">Led/TV</span>
		    			</li>
		    			<li></li>
		    			{/if}
		    		</ul>
		    		
		    		<ul>
		    			<li>
		    				<i class="fa fa-male"></i>
		    				<span class="car-feature-title">Up to {$vehicle->seating_cap} Passengers</span>
		    			</li>
		    			{if $vehicle->category eq 'ac'}
		    			<li>
		    				<i class="im im-air"></i>
		    				<span class="car-feature-title">AC</span>
		    			</li>
		    			{/if}
		    			{if $vehicle->is_music_system eq 'y'}
		    			<li>
		    				<i class="im im-stereo"></i>
		    				<span class="car-feature-title">Stereo CD/MP3</span>
		    			</li>
		    			{/if}
		    			{if $vehicle->is_led eq 'y'}
		    			<li>
		    				<i class="im im-tv"></i>
		    				<span class="car-feature-title">Led/TV</span>
		    			</li>
		    			<li></li>
		    			{/if}
		    		</ul>
		    	</div>	
	    	</div>
	    	
	    	<div class="col-md-7">
	    		<h5>Car Location Map</h5>
	    		<div id="car_location_map" class="car_location_map">
	    		</div>
	    	</div>
	    	
	    </div>	
	    	
	    	
	    	
	    </div>
	    
	    
	</div>
	
	
	
</div>
<div class="gap gap-small"></div>
</div>

{literal}
<script type="text/javascript">

jQuery(document).ready(function() {
	
	
	{/literal} var vehicleAddress = "{$owner->address_line1},{$owner->address_line2},{$owner->city}, {$owner->state}" {literal}
	
	// map initialization
	var mapCanvas = document.getElementById("car_location_map");
	
	var geocoder = new google.maps.Geocoder();
	
	geocoder.geocode( { 'address': vehicleAddress}, function(results, status) {

		  if (status == google.maps.GeocoderStatus.OK) {
			  
		    var latitude = results[0].geometry.location.lat();
		    var longitude = results[0].geometry.location.lng();

		    var latlong = {lat: latitude, lng: longitude};
		    
		    var map = new google.maps.Map(mapCanvas, {
		          zoom: 15,
		          center: latlong
		     });
		    
		    var marker = new google.maps.Marker({
		          position: latlong,
		          map: map
		        });
		    
		    
		    
		  } 
		}); 
	
});


backToSearch = function() {
	document.location = document.referrer;
}






</script>
{/literal}