			<header class="job-page-footer">
			<h2>Regur</h2>
			</header>
			<div class="container">
			  <form role="form" method="post">
			  <br />
<fieldset><legend>Login</legend>

   
    <div class="form-group">
      <span class="glyphicon glyphicon-user"></span> <label for="uname">UserName </label>
      <input type="text" name="uname" class="form-control" id="email" placeholder="Enter UserName">
    </div>
    <div class="form-group">
      <span class="glyphicon glyphicon-eye-open"></span> <label for="pwd">Password </label>
      <input type="password" name="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-off"></span> Submit</button>
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Cancel</button>

{$login}
</fieldset>
  </form>
</div>