<!DOCTYPE html>
<html class=" js no-touch backgroundsize csstransforms3d csstransitions" style="overflow-y: hidden;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<head>
   	    <title>Traveler - Index 4</title>
    
	    <meta name="keywords" content="Template, html, premium, themeforest">
	    <meta name="description" content="Traveler - Premium template for travel companies">
	    <meta name="author" content="Tsoy">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	    <link rel="stylesheet" href="/css/bootstrap.min.css">
	    <link rel="stylesheet" href="/css/font-awesome.css">
	    <link rel="stylesheet" href="/css/icomoon.css">
	    <link rel="stylesheet" href="/css/styles.css">
	    <link rel="stylesheet" href="/css/mystyles.css">
    		
   		{$style_sheets}
   		<script src="/js/vendor/jQuery-2.1.4.min.js"></script>
	    {$header_scripts}		   
  </head>
  
  
  <body data-pinterest-extension-installed="cr2.0.5" cz-shortcut-listen="true">

    <div class="global-wrap">
    	
    	<header id="top-header">
			  <div class="container"> 
				
				<a class="logo" href="/" title="logo">
					<i class="fa fa-car" aria-hidden="true"></i>
				</a>
			    
			    <nav class="navbar navbar-default menubar">
			
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			    </div>
			
			
			    <div class="collapse navbar-collapse padding0" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav">
			        <li><a href="/">Home</a></li>
			        <li><a href="/about-us/">About Us</a></li>
			        <li class=""><a href="/contact-us/">Contact Us</a></li>
			        <li class=""><a href="car-register">Register Car</a></li>
			        
			      </ul>
			      
			      
			    </div><!-- /.navbar-collapse -->
			</nav>
			  </div>
			</header>
    
    
    <div class="bg-holder">
            <div class="bg-mask-darken"></div>
<!--             <div class="bg-parallax" style="background-position: 50% 0px;"></div> -->
            <!-- START GRIDROTATOR -->
            <div class="ri-grid" id="ri-grid">
                <ul>
					<li>
						<a href="#"><img src="../home_images/img1.jpeg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="../home_images/img2.jpeg" /></a>
                    </li>
                    <li>
                        <a href="#"><img src="../home_images/img3.jpeg" /></a>
                    </li>
					<li>
                        <a href="#"><img src="../home_images/img4.jpeg" /></a>
                    </li>
					<li>
						<a href="#"><img src="../home_images/img5.jpeg" /></a>
                    </li>
					<li>
                        <a href="#"><img src="../home_images/img6.jpeg" /></a>
                    </li>
					<li>
                        <a href="#"><img src="../home_images/img7.jpeg" /></a>
                    </li>
					<li>
                        <a href="#"><img src="../home_images/img8.jpeg" /></a>
                    </li>
					<li>
                        <a href="#"><img src="../home_images/img9.jpeg" /></a>
                    </li>
					<li>
                        <a href="#"><img src="../home_images/img1.jpeg" /></a>
                    </li>
					<li>
                        <a href="#"><img src="../home_images/img2.jpeg" /></a>
                    </li>
					<li>
                       <a href="#"><img src="../home_images/img3.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img4.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img5.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img6.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img7.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img8.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img9.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img1.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img2.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img3.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img4.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img5.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img6.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img7.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img8.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img9.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img1.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img2.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img3.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img4.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img5.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img6.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img7.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img8.jpeg" /></a>
                    </li>
                    <li>
                       <a href="#"><img src="../home_images/img9.jpeg" /></a>
                    </li>
				</ul>
            </div>
            <!-- END GRIDROTATOR -->
            
			<div class="bg-front full-center">
                <div class="container">
                    <div class="search-tabs search-tabs-bg">
                        <h1>Find Your Perfect Trip Partner</h1>
                        <div class="tabbable">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#tab-4" data-toggle="tab"><i class="fa fa-car"></i> <span>Cars</span></a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="tab-1">
                                    <h2>Search your rental car</h2>
                                    <form method="GET" action="/search/">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group form-group-lg form-group-icon-left form-group-focus"><i class="fa fa-map-marker input-icon"></i>
                                                    <label>Your Location</label>
                                                    <span class="twitter-typeahead" style="position: relative; display: block; direction: ltr;">
													
														<input id="autocompleteLoc" onFocus="geolocate()" name="loc" class="typeahead form-control tt-input" placeholder="Type your location" type="text" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top; background-color: transparent;">
														
														
													</span>
													
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-daterange" data-date-format="M d, D">
                                                    <div class="row">
														<div class="col-md-6">
                                                            <div class="form-group form-group-lg form-group-select-plus">
                                                                <label>Approx Passanger</label>
                                                                <!-- <div class="btn-group btn-group-select-num" data-toggle="buttons">
                                                                    <label class="btn btn-primary active">
                                                                        <input name="approx_pass" type="radio" value="1">1</label>
                                                                    <label class="btn btn-primary">
                                                                        <input name="approx_pass" type="radio" value="2">2</label>
                                                                    <label class="btn btn-primary">
                                                                        <input name="approx_pass" type="radio" value="3">3</label>
                                                                    <label class="btn btn-primary">
                                                                        <input name="approx_pass" type="radio" value="4">4</label>
                                                                </div> -->
																
																<select class="form-control" name="noofpass">
                                                                    <option value="1-4">Between 1 to 4</option>
                                                                    <option value="5-7">Between 5 to 7</option>
                                                                    <option value="8-11">Between 8 to 11</option>
                                                                    <option value="11+">More than 11</option>
                                                                </select>
																
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-lg" type="submit">Search for Cars</button>
                                    </form>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
			
			
        </div>
        
        <div class="bg-color text-white">
            <div class="container">
                <div class="gap"></div>
                <div class="row row-wrap" data-gutter="120">
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-thumbs-o-up box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">Best Travel Agent</h4>
                                <p class="thumb-desc">Morbi semper fames lobortis ac hac penatibus quisque massa scelerisque proin dignissim est</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-lock box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">Trust &amp; Safety</h4>
                                <p class="thumb-desc">Viverra magna gravida accumsan enim integer faucibus velit leo laoreet platea senectus ullamcorper</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumb">
                            <header class="thumb-header"><i class="fa fa-dollar box-icon-border round box-icon-white box-icon-big"></i>
                            </header>
                            <div class="thumb-caption">
                                <h4 class="thumb-title">Best Price Guarantee</h4>
                                <p class="thumb-desc">At nec sit magnis enim nascetur platea molestie lobortis purus nunc tempor placerat</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap gap-small"></div>
            </div>
        </div>
    
    
    	<div class="container">
            <div class="gap"></div>
            <h2 class="text-center mb20">Top Travel Destinations</h2>
            <div class="row row-wrap">
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img curved" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">
                                <img src="/home_images/the_journey_home_400x300.jpg" alt="Image Alternative text" title="the journey home"><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Africa</h4>
                            <p class="thumb-desc">Hendrerit nam congue habitant maecenas tempus netus penatibus</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img curved" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">
                                <img src="/home_images/people_on_the_beach_800x600.jpg" alt="Image Alternative text" title="people on the beach"><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Australia</h4>
                            <p class="thumb-desc">Massa ridiculus ad parturient inceptos sit consequat penatibus</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img curved" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">
                                <img src="/home_images/lack_of_blue_depresses_me_800x600.jpg" alt="Image Alternative text" title="lack of blue depresses me"><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">Greece</h4>
                            <p class="thumb-desc">Odio cras congue montes dictum facilisi posuere nunc</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumb">
                        <header class="thumb-header">
                            <a class="hover-img curved" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">
                                <img src="/home_images/upper_lake_in_new_york_central_park_800x600.jpg" alt="Image Alternative text" title="Upper Lake in New York Central Park"><i class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
                            </a>
                        </header>
                        <div class="thumb-caption">
                            <h4 class="thumb-title">USA</h4>
                            <p class="thumb-desc">Massa inceptos conubia ridiculus neque aliquam commodo faucibus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap gap-small"></div>
        </div>
        
        
        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index.html">
                            <img src="/home_images/logo-invert.png" alt="Image Alternative text" title="Image Title">
                        </a>
                        <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>Newsletter</h4>
                        <form>
                            <label>Enter your E-mail Address</label>
                            <input type="text" class="form-control">
                            <p class="mt5"><small>*We Never Send Spam</small>
                            </p>
                            <input type="submit" class="btn btn-primary" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">About US</a>
                            </li>
                            <li><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">Press Centre</a>
                            </li>
                            <li><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">Best Price Guarantee</a>
                            </li>
                            <li><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">Travel News</a>
                            </li>
                            <li><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">Jobs</a>
                            </li>
                            <li><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">Privacy Policy</a>
                            </li>
                            <li><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">Terms of Use</a>
                            </li>
                            <li><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#">Feedback</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Have Questions?</h4>
                        <h4 class="text-color">+1-202-555-0173</h4>
                        <h4><a href="http://remtsoy.com/tf_templates/traveler/demo_v1_7/index-4.html#" class="text-color">support@traveler.com</a></h4>
                        <p>24/7 Dedicated Customer Support</p>
                    </div>

                </div>
            </div>
        </footer>
    
<script src="/js/bootstrap.js"></script>
<script src="/js/modernizr.js"></script>
<script src="/js/slimmenu.js"></script>
<script src="/js/nicescroll.js"></script>
<script src="/js/dropit.js"></script>
<script src="/js/gridrotator.js"></script>
<script src="/js/custom.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsAfeD8HhjTB4S8fTYj9vZ3JQ9rkoZ2ys&libraries=places&callback=initAutocomplete"></script>

{$footer_scripts} 
</div>
  </body>
</html>